.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.header-form {
  display: flex;
  border: 1px solid black;
}

.header-form input {
  height: 28px;
  width: 40%;
  margin: 0 5px;
  border-radius: 8px;
}

.trybewarts-login {
  display: flex;
  justify-content: flex-end;
}

.main-container , #evaluation-form {
  display: flex;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}
